Your subscription is complete. Please find the requested CV attached as PDF files.<br>
<br>
This message was sent to {{username}} because you have subscribed to our CV newsletter. You'll get about three
newsletters a year whenever an update is available. If you don't want to receive these emails from Web at Speed in the
future, please unsubscribe:
<a href="https://www.webatspeed.com?username={{username}}&dToken={{token}}#headhunters"></a><br>
<br><br>
Cheers,<br>
The Web at Speed Team<br>
<br>
--<br>
<br>
Web at Speed GmbH<br>
<br>
Sitz der Gesellschaft: Rosenfelder Ring 13, 10315 Berlin<br>
Registergericht: Amtsgericht Berlin (Charlottenburg)<br>
Handelsregisternummer: HRB 149333<br>
Geschäftsführung: Dipl.-Inf. Torsten Krohn<br>
<br>
