We received a request to create an account.<br/>
<br/>
If you requested an account for {{username}}, click the link below. If you didn't make this request, please ignore this email. Nothing bad will happen.<br/>
<br/>
We save your email, but we never give it away. By clicking on the link below, you agree to that and to our <a href="https://www.webatspeed.com/imprint">privacy policy</a>.<br/>
<br/>
<a href="https://www.webatspeed.com?username={{username}}&token={{token}}#recruiters">Confirm Email</a><br/>
