We have just made an update on the CV, and we want to let you know. Please find the attached PDF files.<br>
<br>
Our policy has not changed. We save your email, but we never give it away. <a href="https://www.webatspeed.com/imprint">Our full privacy policy</a><br>
<br>
This message was sent to {{username}} because you have subscribed to our CV newsletter. You'll get one to three newsletters a year whenever an update is available. If you don't want to receive these emails from Web at Speed in the future, please <a href="https://www.webatspeed.com?username={{username}}&dToken={{token}}#recruiters">unsubscribe</a>.<br/><br>
